<mat-progress-bar
  *ngIf="load"
  color="primary"
  mode="indeterminate">
</mat-progress-bar>
<div>
  <button mat-raised-button color="primary" (click)="sort('asc')" class="button-margin-button">Ordenar de la A - Z</button>
  <button mat-raised-button color="primary" (click)="sort('desc')" class="button-margin-button">Ordenar de la Z - A</button>
</div>
<div *ngIf="!load" class="news">
  <div *ngFor="let new of placeHistories">
    <a [href]="'/placeHistories/' + new.id" class="card {{active === new.id ? 'new_active' : ''}}">
      <div class="card__image-holder" [ngStyle]="{'background': 'url(' + new.images[0] + ')'}">
      </div>
      <div class="card-title">
        <p>
          {{new.title}}
        </p>
      </div>
    </a>
  </div>
</div>
