<mat-progress-bar
  *ngIf="load"
  color="primary"
  mode="indeterminate">
</mat-progress-bar>
<div *ngIf="!load" class="margin-bottom">
  <div class="header-image-artisan" [style]="getStyle()">
    <h1 class="no-margin">{{ethnicGroup.group}}</h1>
  </div>
  <div class="padding-page-sides">
    <markdown [data]="ethnicGroup.content">
    </markdown>
  </div>
  <div class="padding-page-sides">
    <markdown [data]="ethnicGroup.history">
    </markdown>
  </div>
  <div class="padding-page-sides">
    <markdown [data]="ethnicGroup.social">
    </markdown>
  </div>
  <div class="padding-page-sides">
    <markdown [data]="ethnicGroup.features">
    </markdown>
  </div>
  <div class="padding-page-sides">
    <markdown [data]="ethnicGroup.localization">
    </markdown>
  </div>
  <div *ngIf="ethnicGroup.video" class="margin-video padding-page-sides">
    <iframe width="100%"
            height="515"
            frameborder="0"
            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen
            [src]="videoUrl">
    </iframe>
  </div>
  <div class="padding-page-sides" *ngIf="ethnicGroup.relatedArtisans">
    <h2>Artesanos que pertenecen al grupo étnico {{ethnicGroup.group}}</h2>
    <div class="card text-center m-3">
      <div class="card-body">
        <div class="handicraft-background" *ngFor="let item of pageOfItems" [style]="gethandiCraftImage(item.images)"
             (click)="goHandicraft(item.link)">
        </div>
      </div>
      <div class="card-footer pb-0 pt-3">
        <app-tiamiqui-paginate [pageSize]="pageSize" [items]="artisans"
                               (changePage)="onChangePage($event)"></app-tiamiqui-paginate>
      </div>
    </div>
  </div>
</div>
